<div id="title">
  <h1>
    {% unless site.git == "" %}
		  <a id="git-ic" href="{{site.git}}"><i class="fa fa-github"></i></a>	
    {% endunless %}

    {% unless site.stackoverflow == "" %}
      <a id="so-ic" href="{{site.twitter}}"><i class="fa fa-twitter-square"></i></a>
    {% endunless %}

    <a id="sitename" href="{{site.baseurl}}">DAVENGEO</a>
  </h1>

  <h3>DAVENGEO sprl.</h3>
  <h4>Rue Tasson-Snell, 20</h4>
  <h4>1060 Saint Gilles - Belgium</h4>
  <h4>TVA: BE0642710221</h4>
  <h4>Phone: +32(0)485791105</h4>
  <hr/>
  
  {% include nav-links.html %} 
	 
</div>


