<div id="title">
  <h1>
    {% unless site.git == "" %}
		  <a id="git-ic" href="{{site.git}}"><i class="fa fa-github"></i></a>	
    {% endunless %}

    {% unless site.stackoverflow == "" %}
      <a id="so-ic" href="{{site.twitter}}"><i class="fa fa-twitter-square"></i></a>
    {% endunless %}

    <a id="sitename" href="{{site.baseurl}}">davengeo.github.io</a>
  </h1>

  <!-- Add something about you in p tag-->
  <h3>DAVENGEO s.p.r.l.</h3>
  <h3>Rue Tasson-Snell, 20</h3>
  <h3>1050 Saint Gillis Belgium</h3>
  <hr/>
  
  {% include nav-links.html %} 
	 
</div>


